<%= simple_form_for(@visit, html: {class: 'col-md-6'}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :school_id, collection: School.all.collect { |c| [c.title, c.id] }, prompt: 'Please select School' %>
      <%= f.input :agency_id, collection: Agency.all.collect { |c| [c.name, c.id] }, prompt: 'Please select Agency' %>
      <%= f.input :quarter, collection: Visit::QUARTER, prompt: 'Please select Quarter' %>
      <%= f.label :visited_at, required: true %>
      <div id="start-date-timepicker" class="input-group date">
        <%= f.text_field :visited_at, :class => "form-control" %>
        <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
      <%= f.hidden_field :created_by, value: current_user.id %>
      <br>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#visit_visited_at').datetimepicker({format: "YYYY-MM-DD hh:mm:ss", useSeconds: true});
    });
</script>