<tr>
  <td><b style="font-size: 14px; color: #5e6469;">Visit#<%= step %></b></td>
</tr>
<td><b>Visit Date </b><%= visit.try(:visited_at) %></td>
<tr class="row">
  <th>Acknowledgement Certificates</th>
</tr>
<tr>
  <td>
    <% if visit.acknowledgement_certificates.present? %>
        <% visit.acknowledgement_certificates.each do |img| %>
            <%= link_to img.photo.url, target: '_blank' do %>
                <%= image_tag img.photo.url(:thumb) %>
            <% end %>
        <% end %>
    <% end %>
  </td>
</tr>
<tr class="row">
  <th>Photos</th>
</tr>
<tr>
  <td>
    <% if visit.images.present? %>
        <% visit.images.each do |img| %>
            <%= link_to img.photo.url, target: '_blank' do %>
                <%= image_tag img.photo.url(:thumb) %>
            <% end %>
        <% end %>
    <% end %>
  </td>
</tr>




